body {
    background: linear-gradient( #1fc8db, #2cb5e8) fixed;
}

form {
    display: table;
}

p { 
    display: table-row;  
}

label {
    display: table-cell; 
}

input { 
    display: table-cell;
    margin-bottom: 20px; 
}

select { 
    display: table-cell;
    margin-bottom: 20px; 
}

.form-container {
    flex-direction: column;
    margin-top: 30px;
}

.input-field {
    margin-bottom: 10px;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}