<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Week 9</title>
</head>
<body>
  <div id="inputForm">
    <form>
      <p>
        <label for="bookTitle">Book Title</label>
        <input [(ngModel)]="bookTitle" id="bookTitle" type="text" name="bookTitle" required>
      </p>
      <p>
        <label for="pubDate">Publication Date</label>
        <input [(ngModel)]="pubDate" id="pubDate" type="date" name="pubDate" required>
      </p>
      <p>
        <label>Select Book Type</label>
        <select [(ngModel)]="bookType" id="bookType" name="bookType">
          <option value="Hard Cover">Hard Cover</option>
          <option value="Paper Back">Paper Back</option>
        </select>
      </p>
      <p>
        <label for="bookSum">Book Summary</label>
        <textarea [(ngModel)]="bookSum" id="bookSum" name="bookSum"></textarea>
      </p>
    </form>
    <button (click)="saveBook()" id="saveBook">Save Book {{ books.length }}</button>
    <button (click)="deleteHardCovers()" id="deleteHardCovers">Delete {{ numOfHardCovers }} Hard Cover Books</button>
  </div>
  <div>
    <table>
      <tr>
          <th> # </th>
          <th> Title </th>
          <th> Publication Date </th>
          <th> Type </th>
          <th> Summary </th>
          <th> Delete? </th>
        </tr>
        <tr *ngFor="let book of books; let i = index;">
          <td>{{ i }}</td>
          <td>{{ book.bookTitle }}</td>
          <td>{{ book.pubDate }}</td>
          <td>{{ book.bookType }}</td>
          <td id="tableBookSum">{{ book.bookSum }}</td>
          <td><button id="deleteBook" (click)="deleteBook(i)">Delete</button></td>
        </tr>
    </table>
  </div>
</body>
</html>

<router-outlet></router-outlet>