<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="deleteTasks.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete Tasks</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/newDev">Register a new developer</a>
    <a href="/listDevs">List all developers</a>
    <a href="/newTask">Add a new task</a>
    <a href="/listTasks">List all tasks</a>
    <a href="/updateTask">Update a task</a>
    <div class="grid-container">
        <div class="grid-item">
            <form action="/deleteTasks" method="POST">
                <label for="taskId">Task ID</label>
                <input id="taskId" type="text" name="_id" required>
                <input type="submit" value="Delete">
                <input type="hidden" name="deletetype" value="byid">
            </form>
        </div>
        <div class="grid-item">
            <form action="/deleteTasks" method="POST">
                <input type="Submit" value="Delete all completed tasks">
                <input type="hidden" name="deletetype" value="completed">
            </form>
        </div>
    </div>
</body>
</html>