<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The To-Do App</title>
</head>
<body>
    <header>
        <img src="pika.jpg">
    </header>
    <h1>To-Do App</h1>
    <a href="/newTask">Add new task</a>
    <a href="/listTasks">List all tasks</a>
    <a href="/updateTask">Update task</a>
    <a href="/deleteTasks">Delete tasks</a>
</body>
</html>