<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="listTasks.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List All Tasks</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/newDev">Register a new developer</a>
    <a href="/listDevs">List all developers</a>
    <a href="/newTask">Add a new task</a>
    <a href="/updateTask">Update a task</a>
    <a href="/deleteTasks">Delete tasks</a>
    <h1>Tasks Created</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Assigned To</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Desc</th>
        </tr>
        <% for ( let i = 0; i < tasks.length; i++) { %>
            <tr>
                <td>
                    <%= tasks[i]._id %>
                </td>
                <td>
                    <%= tasks[i].name %>
                </td>
                <td>
                    <%= tasks[i].developerId %>
                </td>
                <td>
                    <%= tasks[i].dueDate %>
                </td>
                <td>
                    <%= tasks[i].status %>
                </td>
                <td>
                    <%= tasks[i].description %>
                </td>
            </tr>
            <% }%>
    </table>
</body>
</html>