<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="newTask.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Task</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/listTasks">List all tasks</a>
    <a href="/updateTask">Update task</a>
    <a href="/deleteTasks">Delete tasks</a>
    <div class="form-container">
        <form action="/newTask" method="POST">
            <p>
                <label for="name">Task name: </label>
                <input id="name" type="text" name="name" required>
            </p>
            <p>
                <label for="developer">Assigned to: </label>
                <select id="developer" name="developerId">
                    <% for ( let i = 0; i < devs.length; i++) { %>
                        <option value="<%= devs[i]._id %>"><%= devs[i].firstName + ' ' + devs[i].lastName %></option>
                    <% }%>
                </select>
            <p>
                <label for="dueDate">Task due: </label>
                <input id="dueDate" type="date" name="dueDate">
            </p>
            <p>
                <label for="status">Task status: </label>
                <select id="status" name="status">
                    <option value="In Progress">In Progress
                    <option value="Complete">Complete
                </select>
            </p>
            <p>
                <label for="description">Task desc: </label>
                <input id="description" type="text" name="description">
            </p>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>