<div>
  <div id="chatContainer">
    <p>
      Set Name: <input [(ngModel)]="userNameInput"/>
      <button (click)="setUserName()">Set</button>
    </p>
    <p>
      Your message: <input [(ngModel)]="messageText" />
      <button (click)="sendMessage()">Send</button>
    </p>
    <p *ngIf="userName !== ''">
      Your name is {{ userName }}
    </p>
    <div class="container" *ngFor="let item of messages.slice().reverse() ">
      <p class="from">{{item.msg.from}}</p>
      <p>{{item.msg.msg}}</p>
      <span class="time-right">{{item.timeStamp}}</span>
    </div>
  </div>
</div>
<div class="jumbotron text-center">
  <p>FIT2095 Chat Application</p>
</div>