<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="newTask.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Task</title>
</head>
<body>
    <a href="http://127.0.0.1:8080/">Home</a>
    <a href="http://127.0.0.1:8080/listTasks">List all tasks</a>
    <div class="form-container">
        <form action="/newTask" method="POST">
            <p>
                <label for="task-name">Task name: </label>
                <input id="task-name" type="text" name="taskname"><br>
            </p>
            <p>
                <label for="input-field">Task due: </label>
                <input id="input-field" type="date" name="taskdue"><br>
            </p>
            <p>
                <label for="input-field">Task desc: </label>
                <input id="task-desc" type="text" name="taskdesc"><br>
            </p>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>