<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Task</title>
</head>
<body>
    <a href="http://127.0.0.1:8080/">Home</a>
    <a href="http://127.0.0.1:8080/listTasks">List all tasks</a>
    <form action="/newTask" method="POST">
        Task name: <input type="text">
        Task due: <input type="date">
        Task desc: <input type="text">
        <input type="submit" value="Submit">
    </form>
</body>
</html>